.items-box-content_main
  .items-box-content.clearfix
    .items-box-content_tag
      .items-box-content_tag_photo
        -# = image_tag "m49030494893_1.jpg", size: "220x220", alt: "test"
      .items-box-body
        .items-box-body_text_box
          %h3.items-box-name.font-2
            emmu.12 チーク ピンク系
          .items-box-num
            .items-box-price.font-5
              ¥450
            .items-box-price.font-2
              ♡3

    .items-box-content_tag
      .items-box-content_tag_photo
        -# = image_tag "m49030494893_1.jpg", size: "220x220", alt: "test"
      .items-box-body
        .items-box-body_text_box
          %h3.items-box-name.font-2
            emmu.12 チーク ピンク系
          .items-box-num
            .items-box-price.font-5
              ¥450
            .items-box-price.font-2
              ♡3

    .items-box-content_tag
      .items-box-content_tag_photo
        -# = image_tag "m49030494893_1.jpg", size: "220x220", alt: "test"
      .items-box-body
        .items-box-body_text_box
          %h3.items-box-name.font-2
            emmu.12 チーク ピンク系
          .items-box-num
            .items-box-price.font-5
              ¥450
            .items-box-price.font-2
              ♡3