= link_to items_show_items_path(item), class: "mypage-item-link" do
  - if item.images.attached?
    - item.images.first(1).each do |image|
      = image_tag image ,size: "64x55" ,class: "is-higher-width"
      .mypage-item-body
        .mypage-item-text
          = item.name
          .mypage-item-status_box
            売却済