.sub-footer
  .sub-footer-in
    .navi
      %ul
        %li
          %a{href: "https://www.mercari.com/jp/privacy/"}プライバシーポリシー
        %li
          %a{href: "https://www.mercari.com/jp/tos/"}メルカリ利用規約
        %li
          %a{href: "https://www.mercari.com/jp/tokutei/"}特定商取引に関する表記
    .footer-logo
      %a{href: "/items"}
        = image_tag "footer-logo.svg"
    %p © 2019 Mercari