.customer-card__box {
  max-width: 320px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 24px;
}

.credit-box-in__main__info {
  border-bottom: 1px solid #eee;
}

.customer-card__box__content--expired.form_space {
  margin: 8px 0 0;
  font-size: 16px;
}

.card_destroy_btn {
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ea352d;
  color: #ea352d;
  line-height: 18px;
  font-size: 14px;
  cursor: pointer;
}

.pay-text_link {
  display: block;
  margin: 40px 0 0;
  text-align: right;
}