.item-edit-main {
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  height: 100%;
  width: 100%;
  input[type=checkbox] {
    display:none;
  }
  label:hover {
    cursor: pointer;
    color:#0099e8;
    
  }
}

.item-edit-container {
  width: 700px;
  margin: 0 auto;
  background: white;
  .item-edit-images__lists-box {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 700px;
    .image-box {
      padding: 0 2px;
    }
    .button {
      a:hover {
        cursor: pointer;
      }
    }
  }
}