* {
  font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
  box-sizing: border-box;
}
.footer__banner {
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  background-size: cover;
  background-position: center center;
  vertical-align: bottom;
  height: 260px;

  .footer__banner-contents {
    width: 770px;
    margin: 0 auto;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    position:relative;
    .footer__banner-contents--left{
      margin: auto;
      h2 {
        font-size: 24px;
        font-weight: 600;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        line-height: 1.4;
      }
      p {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 35px;
        margin-bottom: 20px;
        width: 420px;
      }
    }
    .footer__banner-contents--right{
      margin: auto;
    }
    .app-banner-icon {
      display: flex;
      // justify-content: left;
      align-items: center;
      .mercari_icon {
        // padding-right:20px;
      }
      a {
        padding-left: 20px;
        // padding-right: 8px;
      }
    }
  }
}

/* footer */
.footer__link{
  box-sizing: border-box;
  display: block;
  font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
  font-weight: 500;
  background-color: #212121;
  color: #fff;
  text-decoration: none;
  width: 100%;
  .clearfix::after {
    content: '';
    display: block;
    clear: both;
  }

  .footer__link-container {
    margin: 0 auto;
    width: 1020px;
    .footer-cell {
      display: block;
      width: 20%;
      float: left;
      margin-top: 18px;
      & li {
        margin-top: 16px;
        padding-right: 10px;
      }
      & a {
        font-size: 12px;
        color: #ffffff;
        opacity: 0.7;
        text-decoration: none;
      }
    }
    .full-width {
      display: block;
      width: 40%;
      float: left;
      margin-top: 18px;
      // padding-right: 40px;
      & li {
        margin-top: 16px;
      }
      & a {
        font-size: 12px;
        color: #ffffff;
        opacity: 0.7;
        text-decoration:none;
      }
    }
    .inner-footer-cell{
      width: 40%;
      padding-right: 10px;
      float: left;
    }
  }

  .footer-social-link {
    display: inline-block;
    & a {
      opacity: 1;
      color: #fff;
      font-size: 12px;
      line-height: 1.5em;
    }
    & i {
      margin-top: 30px;
      display:inline-block;
      font-size: 34px;
      opacity: 1;
      margin: 16px 18px 0 0;
      color: white;
    }
  }

  .footer__bottom {
    width: 1020px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 20px;
    // align-items: center;
    & a {
      display: inline-block;
      justify-content: center;
      align-items: center;
    }
    & span {
      display: inline-block;
      justify-content: center;
      // align-items: center;
      // display: inline-block;
      margin: auto;
      text-align: center;
      padding-left: 15px;
      width: 75%;
    }
    .footer-copyright{
      text-align: center;
    }
  }
}