* {
  font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
  box-sizing: border-box;
}
.header{
  font-size: 14px;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  z-index: 1000;
  background: #fff;
  &__container{
    width: 1020px;
    margin: 0 auto;
    padding-top: 8px;

    &__top{
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

      .h1 {
        display: block;
        font-size: 2em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
      }
      .logo {
        vertical-align: middle;
      }

      .header__form {
        position: relative;
        margin-left: 45px;
        width: 100%;
        .header__input-default {
          background: #f5f5f5;
          border-radius: 4px;
          padding: 0 42px 0 10px;
          width: 100%;
          height: 40px;
          border: 1px solid #ccc;
          line-height: 1.5;
          font-size: 16px;
        }
        .icon-search {
          position: absolute;
          top: 0;
          right: 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          cursor: pointer;
        }
      }
    }

    &__bottom{
      margin: 8px 0 0;
      display: flex;
      justify-content: space-between;

      .container__bottom-left {
        height: 100%;
        & ul {
          display: block;
          list-style-type: disc;
          display: flex;

        }
        & li {
          position: relative;
          display: inline-block;
          padding-right: 22px;
          cursor: pointer;
          display: list-item;
          list-style: none;
        }
        .search-method{
          font-weight: 700;
          display: block;
          color: #333;
          position: relative;
          height: 44px;
          line-height: 38px;
          text-decoration: none;
        }
        &a {
          font-weight: 700;
          align-items: center;
        }
        i {
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          background-color: white;
          color: #ea352d;
          font-size: 15px;
          margin-right: 4px;
        }
        .icon

        span {
          display: inline-block;
          vertical-align: middle;
          font-weight: 700;
          color: #333;
          text-decoration: none;
        }
      }
      .container__bottom-right {

        & ul {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        & li {
          padding-left: 28px;
          display: inline-block;
        }
        a {
          text-decoration: none;
        }
        i {
          color: #ccc;
        }
        img {
          // overflow: hidden;
          border-radius: 50%;
        }
        .link {
          color: #333;
        }
        & span {
          color: #333;
          display: inline-block;
          margin-left: 10px;
        }
        .nav-count{
          position: absolute;
          top: -7px;
          left: 7px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: #ea352d;
          text-align: center;
          line-height: 20px;
          font-size: 12px;
          color: #fff;

        }
        p {
          display: inline-block;
        }
        .fa-heart-o {
          font-size: 20px;
          width:18px;
        }
        .fa-bell-o {
          font-size: 20px;
          width:17px;
          position: relative;
        }
        .fa-check {
          font-size: 19px;
          width: 17px;
        }
      }
      .list-mypage {
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          // line-height:20px;
          vertical-align: 50%;
        }
      }
      .span-mypage {
        // height: 38px;
        // line-height: 100%;
        // vertical-align: top;

      }
    }
  }
}
.header__bred-crumbs {
  border-top: 1px solid #eee;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(238, 238, 238);
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);

  & ul {
    width: 1020px;
    padding: 16px 0;
    margin: 0 auto;
    display: flex;
    text-shadow: none;
    align-items: center;
  }
  .headerbred-crumbs__link {
    text-decoration: none;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.2;
    color: black;
  }
  .fa-chevron-right {
    margin: 0 8px;
    font-size: 9px;
    color: #888;
  }
  span {
    text-decoration: none;
  }
}
::selection {
  background-color: #b3d4fc;
  color: #fff;
  text-shadow: none;
}
.new-registration-btn {
  box-sizing:border-box;
  background-color: rgb(234, 53, 45);
  color: rgb(255, 255, 255);
  display: block;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(234, 53, 45);
  border-image: initial;
  border-radius: 4px;
  padding: 6px 10px;
  text-align: center;
  height: 32px;
  a {
    color: white;
    vertical-align: 50%;
  }
}

.log-in-btn {
  box-sizing:border-box;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 149, 238);
  display: block;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 149, 238);
  border-image: initial;
  border-radius: 4px;
  padding: 6px 10px;
  transition: all 0.3s ease-out 0s;
  text-align: center;
  margin-left: 11px;
  height: 32px;
  a {
    color: rgb(0, 149, 238);
    vertical-align: 50%;
  }
}
