.header{
  font-family: "游ゴシック体", YuGothic;
  font-size: 14px;
  .header__container{
    width: 71%;
    margin: 0 auto;
    padding-top: 8px;
  }
  .container__top{
    line-height: 40px;
    display: flex;
    justify-content: space-between;
  }
  .logo {
    margin: auto;
  }

  .header__form {
    margin-left: 45px;
    background-color: rgb(245, 245, 245);
    width: 100%;
    height: 40px;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-radius: 4px;
    padding: 0px 50px 0px 10px;
    // border-image: initial;
    // transition: all 0.3s ease-out 0s;
    position: relative;
    line-height: 40px;


    & .input-default {
      border:none;
      width: 100%;
      font-size: 14px;
      line-height: 40px;
      background-color: rgb(245, 245, 245);

    }
    & .icon-search {
      float: right;
      cursor: pointer;
      height: 40px;
      position: absolute;
      right: 0px;
      top: 12px;
      width: 30px;
    }

  }

  .container__bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    height: 44px;
  }
  .container__bottom-left{
    & li {
      padding-right: 10px;
      line-height: 32px;
      font-weight: 600;
    }
    & .icon{
      margin-right: 4px;
      max-width: 100%;
      max-height: 100%;
      // color: rgb(234, 53, 45);
      height: 12px;
      margin-right: 4px;
    }
    & .search-method{
      text-decoration: none;
      color: black;
    }
  }
  .container__bottom-right{
    & li {
      float: left;
      padding-right: 14px;
      line-height: 32px;
    }
    & .icon{
      margin-right: 10px;
      max-width: 100%;
      height: auto;
      max-height: 100%;
      // color: rgb(204, 204, 204);
      margin-right: 10px;
    }
    & a{
      text-decoration:none;
      color: black;
    }
  }
  .header__bred-crumbs {
    border-top: 1px solid #eee;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(238, 238, 238);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    position: relative;
      & p {
        padding: 16px 0;
        margin: 0 210px;
      }
  }
}