.maypage__box__side {
  float: left;
  width: 280px;
  margin: 0 40px 0 0;
  &__head{
    margin: 40px 0 8px 0;
    font-size: 16px;
    font-weight: 600;
  }
  &__sidebar__list__item {
    position: relative;
    display: block;
    padding: 16px;
    background: #fff;
    font-size: 14px;
    color: #333;
    border-bottom: 1.2px solid #eee;
    line-height: 1;
    text-decoration: none;
    &:hover{
      background-color: #fafafa;
      cursor: pointer;
    }
    .fa-chevron-right {
      position: absolute;
      top: 50%;
      right: 16px;
      color: #ccc;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      -webkit-transition: all ease-out .2s;
      transition: all ease-out .2s;
    }
  }
}