.item
  = link_to("https://item.mercari.com/jp/m52733410327/", class: "style_link") do
    %figure.style_card
      %figcaption
        %span.item-name
          = item.name
          -# 感情を失った男
      .style_thumbnail
        %span{"aria-label" => "Price"}
          = item.price
        - if item.images.attached?
          - item.images.each do |image|
            = image_tag image, size: '188x188' ,alt: 'Thumbnail of \"hoge\"'