.item
  = link_to(item_path(item.id), class: "style_link") do
    %figure.style_card
      %figcaption
        %span.item-name
          = item.name
      .style_thumbnail
        %span{"aria-label" => "Price"}
          .p￥
          = item.price
        - if item.images.attached?
          = image_tag item.images[0], size: '188x188' ,alt: 'Thumbnail of \"hoge\"'
