%header
  = render 'module/header.html.haml'

.mypage
  %main.mypage__box
    .maypage-sidebar
      = render 'module/mypage-sidebar'

    .credit-box
      .credit-box-in
        .credit-box-in__top
          %h2 支払い方法
        .credit-box-in__main
          .credit-info
            クレジットカード一覧
          .credit-btn
            クレジットカードを追加する
        .credit-box-in__bottom
          支払い方法について>