%header
  = render 'module/header.html.haml'
.mypage
  %main.mypage__box
    .maypage-sidebar
      = render 'module/mypage-sidebar'
    .mypage__box__content
      .mypage__box__content__identification
        %h2.mypage__box__content__identification-head
          本人情報の登録
        %form.mypage__box__content__identification-content
          %div
          %p
            お客さまの本人情報をご登録ください。
        