%header
  = render 'module/header.html.haml'
.mypage
  %main.mypage__box
    .maypage-sidebar
      = render 'module/mypage-sidebar'
    .mypage-content
      .mypage-content__logoutbox
        .mypage-content__logoutbox__logout
          = button_to "ログアウト",{controller: 'items', action: 'index'}, {method: :get, class: "logoutbutton"}
              