= render 'module/subheader'

%main.single-main
  .l-single-container
    %h2.l-chapter-head.registration 電話番号の確認
    %form.l-single-inner.registration-form{:action => "https://www.mercari.com/jp/signup/sms_confirmation/sms/", :method => "POST", :novalidate => "novalidate"}
      %input{:name => "after_save_callback", :type => "hidden", :value => ""}/
      .l-single-content
        .form-group2
          %label{:for => "phone_number"} 携帯電話の番号
          %input.input-default{:name => "phone_number", :placeholder => "携帯電話の番号を入力", :type => "tel", :value => ""}/
        %p 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
        %button.btn-default.btn-red{:type => "submit"} SMSを送信する
        %p ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
        .form-group2.text-right
          %a{:href => "/jp/help_center/article/244/", :target => "_blank"}
            電話番号の確認が必要な理由
            %i.icon-arrow-right
      %input{:name => "__csrf_value", :type => "hidden", :value => "0fae0dc596017fc25262abdfeb4afcda40724e29f74be56af5f47b9fb79d6636f358652b59800ea56ed9abbb2e084d58b603b08f3746162a170903556a0dd5fad"}/
      %input{:name => "id", :type => "hidden", :value => "719763233"}/

= render 'module/subfooter'