// config & others
@import "font-awesome";
@import "config/reset";
@import "devise/sessions_new";
@import "devise/registrations_new";


// module
@import "module/header";
@import "module/footer";
@import "module/subheader";
@import "module/subfooter";
@import "module/mypage-sidebar";
@import "module/sell-btn";


// path__items
@import "items/index";
@import "items/details";
@import "items/buycheck";
@import "items/shipping";
@import "details";


// path__users
@import "items/mypage";
@import "shipping";
@import "items/logout";
@import "items/credit";
@import "items/user_edit";
@import "items/logout";
@import "users/new";

// path__signup
@import "signup/step1";
@import "signup/step2";
@import "signup/step3";
@import "signup/step4";
@import "signup/complete";


.notifications {
  color: white;
  text-align: center;

  .notice {
    background-color: #2C7CFF;
  }

  .alert {
    background-color: #FF3300;
  }
}
