// config & others
@import "font-awesome";
@import "config/reset";
@import "devise/sessions_new";
@import "devise/registrations_new";
@import "slick-theme";
@import "slick";

// module
@import "module/header";
@import "module/footer";
@import "module/subheader";
@import "module/subfooter";
@import "module/mypage-sidebar";
@import "module/sell-btn";
@import "module/breadcrumbs";
@import "module/_error_messages";


// path__items
@import "items/index";
@import "items/show";
@import "items/buy";
@import "items/new";
@import "items/edit";
@import "items/users_items_show";


// path__users
@import "users/mypage";
@import "users/new";
@import "users/logout";
@import "items/credit";
@import "users/user_edit";
@import "users/mypage_ship";
@import "users/sold";


// path__signup
@import "signup/step1";
@import "signup/step2";
@import "signup/step3";
@import "signup/step4";
@import "signup/complete";


// payments
@import "payments/new";
@import "payments/index";

.notifications {
  color: white;
  text-align: center;
  position: absolute;
  width: 100%;
  z-index: 1001;
  .notice {
    background-color: #2C7CFF;
  }

  .alert {
    background-color: #FF3300;
  }
}