.credit_single_header{
  #fourth.progress-list{
    color: red;
    .progress-statusbar-left{
      background: red;
    }
    .progress-status{
      background-color: red;
    }
  }
  #third.progress-list{
    .progress-statusbar-left{
      background: red;
    }
    .progress-statusbar-right{
      background: red;
    }
    .progress-status{
      background-color: red;
    }
  }
  #second.progress-list{
    .progress-statusbar-left{
      background: red;
    }
    .progress-statusbar-right{
      background: red;
    }
    .progress-status{
      background-color: red;
    }
  }
  #first.progress-list{
    .progress-statusbar-right{
      background: red;
    }
    .progress-status{
      background-color: red;
    }
  }
}

.credit_single-main{
  background: #f5f5f5;
}

.l-single-container{
  width: 700px;
  margin: 0 auto;
  background-color:white;
}

.l-single-head.registration{
  font-size: 22px;
  padding: 32px;
  border-bottom: 1px solid #f5f5f5;
}

.l-single-inner.registration-form {
  padding: 40px 40px 64px;
  max-width: 450px;
  margin: 0 auto;
}

.l-single-content {
  margin: 0 auto;
}

.credit_form-group{
  margin: 40px 0 0;
  label {
    font-weight: 600;
  }
}

.credit_form-group_box1{
  padding-bottom: 40px
}

.input-default {
  width: 100%;
  margin: 8px 0 0;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

.has-error-text {
  color: #ea352d;
  line-height: 1.5;
  font-size: 14px;
}

.signup-card-list {
  margin: 8px 0 0;
  font-size: 0;
}

.select-wrap_box.half {
  display: flex;
  width: 100%;
  span{
    padding: 10px 15px 0px 15px;
    }

}

// .select-default {
//   position: relative;
//   z-index: 2;
//   height: 48px;
//   padding: 0 16px;
//   border-radius: 4px;
//   border: 1px solid #ccc;
//   background: 0;
//   font-size: 16px;
//   line-height: 1.5;
//   cursor: pointer;
// }

.signup-seqcode {
  position: relative;
  margin: 8px 0 0;
  .signup-seqcode-text {
    text-align: right;
    color: #0099e8;
    .form-question {
      display: inline-block;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: #0099e8;
      color: #fff;
      line-height: 14px;
      font-size: 12px;
      text-align: center;
    }
  }
}

.btn-default.btn-red {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}